# Node
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Vite
.vite/

# Env
.env
.env.*

# VSCode
.vscode/

# Misc
*.local
*.sublime-workspace
*.sublime-project

# Docker
*.pid

# Others
coverage/
*.tgz
.idea/
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache
